<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-9">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Expediente</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.expediente}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Organo de contratación</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.organo_contratacion}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Objeto de contrato</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.objeto_contrato}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Valor estimado</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.valor_estimado}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Tipos de contrato</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.tipo}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Lugar de ejecución</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.lugar_ejecucion}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Plazo</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{licitacion.plazo}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Página oficial</p>
                        </div>
                        <div class="col-sm-9">
                            <a href="https://contrataciondelestado.es/wps/portal/licitaciones">Busca más detalles de tu licitación aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>