/*a {
    text-decoration: none;
    color: black;
}*/

h3, h4 {
    color: #1464A5;
    font-weight: bold;
}

/*.page-link {
    background-color: #eee;
    color: #1464A5;
}*/

.btn-primary {
    background-color: #1464A5;
}